# Gradle
.gradle/
build/
**/build/

# Kotlin
.kotlin/

# Local properties
local.properties
/local.properties

# Android Studio / IntelliJ
*.iml
.idea/

# Android build
captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Logs
*.log